<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9a988c">  <td>21/07/25 15:38:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIMain.Get_Request()[pri:0, instance:APIPackage.APIMain@4efac082]">Get_Request</td> 
  <td>main@1058609221</td>   <td></td> </tr>
<tr bgcolor="9a988c">  <td>21/07/25 15:38:30</td>   <td>2676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="APIMain.Post_Request()[pri:1, instance:APIPackage.APIMain@4efac082]">Post_Request</td> 
  <td>main@1058609221</td>   <td></td> </tr>
</table>
